
body{font-size: 1rem;}
.fs-70{font-size: 70px;}
.form-control{border-color:#cdcdcd}
.form-control:focus{border-color:#818181}
::placeholder{
    color: #000 !important;
}
.app-sidebar .side-menu__item{text-transform: capitalize;}
.form-label{
    font-size: 1.2rem;
    font-weight: 500;
}
@media (min-width: 992px){
    [data-nav-layout=horizontal] .app-sidebar .side-menu__angle {
        inset-inline-end: 0;
    }
}
a,li,.btn,.app-sidebar .side-menu__label,.table td, .table th,.table thead tr th{
    font-size: 1rem;
}
.app-sidebar .side-menu__icon{position: relative;top: -5px;}
.text-muted {
    color: #686a6c!important;
}
.form-check-input {
    border: 1px solid #bdbdbd;
}
.btn.btn-lg {
    font-size: 1.2rem;
}
.badge {
    font-size: .8rem;
}
.cursor-pointer{cursor: pointer;}
.relative-icon{
    position: relative;
    top: 4px;
    
}
